<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Productos
            </div>
            <div class="card-body">
                <h5 class="card-title">Lista de Productos</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                            <!-- <th scope="col">Handle</th> -->
                        </tr>
                    </thead>
                    <tbody *ngFor="let producto of productos; index as i;">
                        <tr *ngIf="producto.nombre">
                            <th scope="row">{{i+1}}</th>
                            <td>{{producto.nombre}}</td>
                            <td><button type="button" class="btn btn-outline-primary" title="Agregar producto" (click)="addProducto()"> <i class="fas fa-plus"></i> </button>
                            </td>
                            <!-- <td>Otto</td>
                            <td>@mdo</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>